<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{1530,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{0,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{1224,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{306,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{612,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{306,384}</string>
                <key>textureRect</key>
                <string>{{918,507},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{971,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{155,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{359,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{563,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{767,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UL6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{1175,222},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{292,0},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{584,0},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{146,0},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,32}</string>
                <key>spriteSourceSize</key>
                <string>{146,32}</string>
                <key>textureRect</key>
                <string>{{438,0},{146,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jixu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{0,222},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1054,84}</string>
                <key>spriteSourceSize</key>
                <string>{1054,84}</string>
                <key>textureRect</key>
                <string>{{383,50},{1054,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,152}</string>
                <key>spriteSourceSize</key>
                <string>{138,152}</string>
                <key>textureRect</key>
                <string>{{1542,50},{138,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>over_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,50}</string>
                <key>spriteSourceSize</key>
                <string>{774,50}</string>
                <key>textureRect</key>
                <string>{{1038,0},{774,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{283,50},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,149}</string>
                <key>spriteSourceSize</key>
                <string>{105,149}</string>
                <key>textureRect</key>
                <string>{{1437,50},{105,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,172}</string>
                <key>spriteSourceSize</key>
                <string>{116,172}</string>
                <key>textureRect</key>
                <string>{{1680,50},{116,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,50}</string>
                <key>spriteSourceSize</key>
                <string>{308,50}</string>
                <key>textureRect</key>
                <string>{{730,0},{308,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taichi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,285}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1379,222},{285,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,65}</string>
                <key>spriteSourceSize</key>
                <string>{283,65}</string>
                <key>textureRect</key>
                <string>{{0,50},{283,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fullpic.png</string>
            <key>size</key>
            <string>{1836,1030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb6a2990f3c6e946a2af225245603b53:cd1e86ffc47afc7f370383c5a7290d69:85473a25f33e50bb7436b50181446f16$</string>
            <key>textureFileName</key>
            <string>fullpic.png</string>
        </dict>
    </dict>
</plist>
